@import "tailwindcss";

@theme {
    --color-purple-primary: rgb(136, 56, 245);
    --color-purple-secondary: rgb(223, 198, 255);
    --color-red-primary: rgb(255, 0, 0);
    --color-red-secondary: rgb(255, 204, 204);
    --color-red-tertiary: rgb(156, 0, 0);
    --color-orange-primary: rgb(255, 149, 0);
    --color-orange-secondary: rgb(247, 187, 102);
    --color-brown-primary: rgb(255, 111, 0);
    --color-brown-secondary: rgb(182, 96, 31);
    --color-magenta-primary: rgb(255, 0, 128);
    --color-magenta-secondary: rgb(255, 121, 188);
    --color-lightgreen-primary: rgb(0, 255, 17);
    --color-lightgreen-secondary: rgb(182, 255, 187);
    --color-darkblue-primary: rgb(0, 26, 255);
    --color-darkblue-secondary: rgb(221, 225, 255);
    --color-pink-primary: rgb(255, 0, 221);
    --color-pink-secondary: rgb(255, 200, 248);
    --color-yellow-primary: rgb(255, 251, 0);
    --color-yellow-secondary: rgb(255, 254, 185);
    --color-lime-primary: rgb(170, 255, 0);
    --color-lime-secondary: rgb(229, 255, 176);
    --color-darkgreen-primary: rgb(0, 215, 14);
    --color-darkgreen-secondary: rgb(84, 150, 88);
    --color-lightblue-primary: rgb(0, 229, 255);
    --color-lightblue-secondary: rgb(174, 247, 255);
    --color-gray-primary: rgb(157, 157, 157);
    --color-gray-secondary: rgb(217, 217, 217);
}