---
import "../styles/global.css";

const topicLists = [
  { name: "Absurd & Uncanny", slug: "absurd-uncanny" },
  { name: "Accidents & Incidents", slug: "accidents-incidents" },
  { name: "Foods & Drinks", slug: "foods-drinks" },
  { name: "History", slug: "history" },
  { name: "Hobbies & Collections", slug: "hobbies-collections" },
  { name: "Humor & Satire", slug: "humor-satire" },
  { name: "Internet & Technology", slug: "internet-technology" },
  { name: "Love & Confessions", slug: "love-confessions" },
  { name: "[CENSORED]", slug: "murders-assassinations" },
  { name: "Personal Experiences", slug: "personal-experiences" },
  { name: "Pets & Animals", slug: "pets-animals" },
  { name: "Politics & [REDACTED]", slug: "politics-elites" },
  { name: "Sciences & Nature", slug: "sciences-nature" },
  { name: "Space & Extraterrestrials", slug: "space-extraterrestrials" },
  { name: "Supernatural & Occultism", slug: "supernatural-occultism" },
];
---

<div class="border-2 border-gray-primary w-max h-fit shrink-0">
  <h3 class="font-bold font-serif text-xl text-center p-3 bg-gray-primary">
    Topics
  </h3>
  <ul class="list-disc pl-8 pr-6 py-3">
    {
      topicLists.map((topicList) => (
        <li class="font-bold font-serif text-darkblue-primary text-sm underline underline-offset-2 mb-1.5 w-fit cursor-pointer active:text-red-primary">
          <a href={`/topic/${topicList.slug}`} class="w-full h-full">
            {topicList.name}
          </a>
        </li>
      ))
    }
    <li class="font-bold font-serif text-sm mb-1.5 w-fit">[CORRUPTED]</li>
  </ul>
</div>
